@page "/Contact"
@inject IToastService toastService

<PageTitle>Contact</PageTitle>

<h1>Need Help ?</h1>

<p>Call 111-111-1111</p>

<p>or</p>

<EditForm Model="@model" OnValidSubmit="@onValidSubmit">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="EmailAdress">Email Address <InputText id="emailAdress" @bind-Value="@model.EmailAddress" class="form-control"></InputText></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="Problems">Problems</label>
                <InputTextArea id="Problems" @bind-Value="@model.Problems" class="form-control" rows="10"></InputTextArea>
            </div>
        </div>
    </div>
    <div>
        <button class="btn button-24 m-2" @onclick="@(()=> toastService.ShowSuccess("Submitted"))" >Send</button>
    </div>
</EditForm>

@code{
    contactModel model = new contactModel();

    private void onValidSubmit()
    {
        Console.WriteLine(model);
    }
}

<style>
    .button-24 {
        background: #6b9080;
        border: 1px solid #6b9080;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-24:hover,
        .button-24:active {
            background-color: grey;
            background-position: 0 0;
            color: white;
        }

        .button-24:active {
            opacity: .5;
        }

</style>