@page "/UserProfile"
@layout MainLayout
@inject UserStore UserStore
@inject LibraryItemStore LibraryItemStore
@inject LoginService LoginService;

<head>
    <link rel="stylesheet" type="text/css" href="Buttons.css" media=”screen” />
</head>



<section style="background-color: #eee;">
    <div class="container py-5">

        <h2 class="m-3" align="center">My Profile Overview</h2>


        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4" style="height: 250px;">
                    <div class="card-body text-center">
                        <img class="rounded-circle img-fluid" style="width: 150px;" src=@User.ImageSource>
                        <h5 class="my-3"> @User.Name </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4" style="height: 250px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@User.Name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@User.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@User.PhoneNum</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@User.Address</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 mb-lg-0">

                    <div class="card-body p-0">
                        <h4 class="m-3" align="center"> My Wishlist Items</h4>
                        <HorizontalScroll Items="@Wishlist"></HorizontalScroll>
                        <div style="width:100%; text-align:center">
                            <a type="button" class="btn button-26 m-3 " href="/Wishlist"> Manage Wishlist </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mb-lg-0">

                    <div class="card-body p-0">
                        <h4 class="m-3" align="center"> My On Hold Items</h4>
                        <HorizontalScroll Items="@OnHold"></HorizontalScroll>
                        <div style="width:100%; text-align:center">
                            <a type="button" class="btn button-26 m-3 " href="/OnHold"> Manage On Hold</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 mb-lg-0">

                    <div class="card-body p-0">
                        <h4 class="m-3" align="center"> My Checked out Items</h4>
                        <HorizontalScroll Items="@CheckedOut"></HorizontalScroll>
                        <div style="width:100%; text-align:center">
                            <a type="button" class="btn button-26 m-3 " href="/CheckedOut"> Manage Checked Out </a>
                        </div>
                    </div>
                </div>
            </div>


           
        </div>
        </div>
</section>

@code{

    public User User { get; set; }

    public List<LibraryItem> Wishlist { get; set; }

    public List<LibraryItem> OnHold { get; set; }

    public List<LibraryItem> CheckedOut { get; set; }

    private Modal _modalRef;

    protected override void OnParametersSet()
    {
        User = LoginService.CurrentUser;

        Wishlist = UserStore.GetWishlist(User);

        OnHold = UserStore.GetOnHold(User);

        CheckedOut = UserStore.GetCheckedOut(User);
    }


}

<style>
    .button-26 {
        background: #00303f;
        border: 1px solid #00303f;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-26:hover,
        .button-26:active {
            background-color: initial;
            background-position: 0 0;
            color: #00303f;
        }

        .button-26:active {
            opacity: .5;
        }

    
</style>