@page "/Wishlist/{id}"
@layout MainLayout
@inject UserStore UserStore
@inject LibraryItemStore LibraryItemStore

<head>
    <link rel="stylesheet" href="..\wwwroot\css\app.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
</head>

<!-- Page content -->
<div class="row">
    <div class="col-12">
        <div class="px-5">
            <h2>Items Currently on Wishlist for @User.Name</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-12">
            @foreach (LibraryItem item in wishlist)
                {
                <div class="card mb-3 card-style" style="width: 101%;">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src=@item.ImageSource class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h2 class="display-5">@item.Title</h2>
                                <h3 class="h3">@item.Author</h3>
                                <h6 class="h6">@item.Length @item.Format</h6>
                                &nbsp;
                                <p>
                                    <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        + Expand
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample-@item.Id">
                                    <div class="card card-body">
                                        @item.Summary
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">@item.CopiesAvailable Copies Available</small></p>
                                <div style="text-align: left;">
                                    @if (HoldStatus(item))
                                    {
                                        <a href="#" class="btn btn-secondary" style="background-color: #6b9080" role="button" @onclick="(() => removeItemFromHold(item))" @onclick:preventDefault>Remove From Hold</a>
                                    } @if (!HoldStatus(item)) {
                                        <a href="#" class="btn btn-secondary" style="background-color: #6b9080" role="button" @onclick="(() => holdItem(item))" @onclick:preventDefault>Hold</a>
                                    }
                                    <a href="#" class="btn btn-secondary" style="background-color: #6b9080" role="button" @onclick="(() => removeItemFromWishlist(item))" @onclick:preventDefault>Remove From Wishlist</a>
                                    <a href="#" class="btn btn-secondary" style="background-color: #6b9080" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</div>

<style>
    .card-style {
        background-color: #eaf4f4
    }

    .card-img {
        width: 200px;
        height: 300px;
        object-fit: fill;
        padding-top: 10px;
        padding-left: 10px;
    }
</style>
    @code{
        [Parameter]
        public string id { get; set; }

        public User User { get; set; }

        public List<LibraryItem> wishlist { get; set; }

        protected override void OnParametersSet()
        {
            User = UserStore.Get(id);

            wishlist = UserStore.GetWishlist(User);
        }

        void removeItemFromWishlist(LibraryItem item)
        {
            bool a = UserStore.removeFromWishlist(item, User);

        }

        void holdItem(LibraryItem item)
        {
            UserStore.addToHold(item, User);

        }

        void removeItemFromHold(LibraryItem item)
        {
            UserStore.removeFromHold(item, User);

        }

        public bool HoldStatus (LibraryItem item)
        {
            if (UserStore.isOnHold(item, User))
            {
                return true;

            } else
            {
                return false;
            }

        }

    }
